.App {
  align-items: center;
  margin: auto;
  background-color: #F1F8F9;
}

h1, h2, h3, h4, h5, h6 {
  color: #313D53;
}

/* NAV STYLING */
.nav-link:hover {
  color: #F1F8F9 !important;
  transition: .5s;
}

/* HEADER STYLING */
.headerLink {
  color: #FE769B;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #313D53;
  width: fit-content;
  margin: 0px auto 0px auto !important;
  padding-bottom: 10px;
}

.headerLink:hover {
  color: #ffb6c9;
  border-bottom: 2px solid #ffb6c9;
  width: fit-content;
  margin: 0px auto 0px auto !important;
  padding-bottom: 10px;
  transition: .5s;
}

/* CARD STYLING */
.cardStyleHover:hover {
  box-shadow: 0px 0px 10px 1px grey;
}

.cardContent {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NEW-EDIT POST FORM STYLING */
.formBackground {
  background-image: url('../public/blog-image.jpg');
  background-position: center;
  background-size: 100%;
  margin-top: 60px;
}

.titleStyle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 30px 5px 30px;
}

.formStyle {
  margin: auto;
  width: 50%;
  min-width: 200px;
  padding: 10px 10px 50px 10px;
  justify-content: center;
}

.formGroupStyle {
  display: flex;
  flex-direction: column;
}

.nameDateStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formSpacingLeft {
  display: flex;
  width: 48% !important;
  min-width: 180px !important;
}

.formSpacingRight {
  display: flex;
  width: 48% !important;
  min-width: 180px !important;
}

.textAreaStyle {
  height: 350px !important;
}

.buttonDivStyle {
  padding-top: 50px;
  text-align: center;
}

.buttonStyle {
  background-color: #eca72c !important;
  border-color: #eca72c !important;
  color: #313D53 !important;
}








